%div.password-reset
  = form_tag password_resets_path, method: :post do
    = label_tag :email
    = text_field_tag :email, params[:email]
    = submit_tag t('reset_password.reset_password'), class: 'btn btn-large btn-success'

%div.password-reset-hint
  = t('reset_password.hint')