%div{:class=>'page-header login'}
  %h1
    %welcome
      = current_user ? current_user.welcome_phrase : t('users.login.welcome')
    %br
    %small
      = t('users.login.domino_description')
  %h2
    = t('users.login.playing_domino_now')
    = users_online
    = t('global.users')
  = render :partial => 'login' unless current_user