%div.title
  = current_user ? current_user.welcome_phrase : t('users.login.welcome')
%div.subtitle
  = t('users.login.domino_description')
  %p
    = t('users.login.playing_domino_now')
    = users_online
    = t('global.users')
= image_tag 'https://www.digitalocean.com/assets/homepage/homepage-ssd-cloud-hosting-graphic.png'

= render :partial => 'login' unless current_user

