%p
  %table{:class=>"table table-striped"}
    %caption
      %h5.pull-left
        = t('users.show.friends_list')
    %thead
      %tr
        %th
          id
        %th
          = t('global.name')
        %th
          = t('users.show.goat_rating')
        %th
          = t('users.show.spider_rating')
        %th
          = t('global.action')
    %tbody
      - for friendship in @user.friendships
        %tr
          %td
            = friendship.friend.id
          %td
            = friendship.friend.full_name
          %td
            = friendship.friend.g_rating
          %td
            = friendship.friend.s_rating
          %td
            = link_to t('global.play'), '#'
            = link_to t('global.delete'), dd_friendship_path(friendship), :method => :delete
