%ul.statistic
  %li.text-left
    = t('users.show.highest')
    = current_user.max_rating(type)
  %li.text-left
    = t('users.show.avg_opp')
  %li.text-left
    = t('users.show.best_win')
  %li.text-left
    = t('global.total')
    = "#{current_user.all_games_count(type)} (#{current_user.won_games_count(type)} W/ #{current_user.lost_games_count(type)} L)"