%div{:class=>'framed grey'}
  %h4
    %div.left
      = t('global.goat_domino')
    %div{:class=>'right'}
      = current_user.g_rating
  = render :partial => 'dd/users/list', :locals => {:type => :goat}

%div{:class=>'framed grey'}
  %h4
    %div.left
      = t('global.spider_domino')
    %div{:class=>'right'}
      = current_user.s_rating
  = render :partial => 'dd/users/list', :locals => {:type => :spider}

