%div.translations
  %h1
    Translations
  %ul
    - @translations.keys.each do |key|
      %li
        = key
        = @translations[key]

  %h2
    Add Translation

  = form_tag translations_path do
    %p
      = label_tag :locale
      = text_field_tag :locale
    %p
      = label_tag :key
      = text_field_tag :key
    %p
      = label_tag :value
      = text_field_tag :value
    %p
      = submit_tag "Submit"
