$("#likes-<%= @post.id %>").empty().append("<%= @post.likes %>");
$("#popover-<%= @post.id %>").empty().append("<div class='popover'><h3 class='popover-title'>Likers(<%= @post.likers.size %>)</h3><div class='popover-content'><%= escape_javascript(render :partial => 'domino/dashboard/news/likers',  locals: {likers: @post.popover_likers})%></div></div>");
