- comms.each do |com|
  %div.comment-author
    = avatar_tag com.get_author, true, true
  %div.author-name
    = link_to com.get_author.full_name, domino_user_path(com.get_author.id)
  %div.comment-content
    = com.content
  %div.comment-time
    = time_ago_in_words(com.created_at) + " #{t('global.ago')}"
  %div{class: 'dsh_likes pull-right'}
    = link_to  like_comment_domino_dashboard_index_path(com.id), remote: true do
      %i.icon-thumbs-up
    = link_to dislike_comment_domino_dashboard_index_path(com.id), remote: true do
      %i.icon-thumbs-down
    %div{id: "comment-likes-#{com.id}", class: com.likes_class}
      = com.likes
    %div{id: "comment-popover-#{com.id}"}

  %div.small-separator

%div.comment
  = form_for @comment, :url => {action: :create_comment}, validate: true do |form|
    %p
      = form.text_area :content, :placeholder => t('global.comment'), size: '10x1'
      = form.hidden_field :post_id, value: post.id
    %p
      = form.submit t('global.do_comment'), :class => 'btn btn-success'