%p
  %table{:class=>"table table-striped"}
    %caption
      %h5{:class=>'pull-left'}
        Current Games
    %thead
      %tr
        %th
          id
        %th
          Type
        %th
          Time per move
        %th
          Status
    %tbody
      - @my_current_games.each do |game|
        %tr
          %td
            = game.id
          %td
            = game.game_type
          %td
            = game.time_per_move
          %td
            = game.status
          %td
            = link_to t(:view), domino_game_path(game.id)
