%div{:class=>'pagination'}
  = will_paginate @my_finished_games, :container => false

%p
  %table{:class=>"table table-striped"}
    %caption
      %h5{:class=>'pull-left'}
        = t('games.finished_games')
    %thead
      %tr
        %th
          = t('games.result')
        %th
          = t('games.type')
        %th
          = t('games.time_per_move')
        %th
          = t('global.date')
    %tbody
      - @my_finished_games.each do |game|
        %tr
          %td
            = game.result(current_user)
          %td
            = game.game_type
          %td
            = game.time_per_move
          %td
            = game.finished
          %td
            = link_to t(:view), '#'

%div{:class=>'pagination'}
  = will_paginate @my_finished_games, :container => false