%h2
  = t('global.opponents')
%div{:class=>'border'}
- @game.players.each do |pl|
  %div{:class=>'players-description'}
    %h5
      = link_to pl.full_name, domino_user_path(pl.id)
    %p
      = avatar_tag(pl)
    %h5
      = t('games.max_rating')
      = pl.max_rating(@game.game_type)
      %br
      = t('global.total')
      = "#{pl.all_games_count(@game.game_type)} (#{pl.won_games_count(@game.game_type)} W/ #{pl.lost_games_count(@game.game_type)} L)"
%h2

%div{:class=>'border'}
%h4
  %ul
    %li
      = t('games.game_type')
      = @game.game_type.camelize
    %li
      = t('games.waiting_for_players', count: @game.available_sits)
    %li
      = t('games.game_rating')
      = "#{@game.rating} points"
      %ul
        %li
          = t('global.max')
          = "#{@game.min_rating} points"
        %li
          = t('global.max')
          = "#{@game.max_rating} points"
    %li
      = t('games.time_per_move')
      = "#{@game.time_per_move} minutes"

%div{:class=>'actions'}
  = link_to t('global.join'), domino_game_path(@game.id), :method => :put, :class => 'btn btn-large btn-success' unless @game.players.include? current_user