%h2
  Opponents:
%div{:class=>'border'}
- @game.players.each do |pl|
  %div{:class=>'players-description'}
    %h5
      = link_to pl.full_name, domino_user_path(pl.id)
    %p
      = avatar_tag(pl)
    %h5
      Max Rating:
      = pl.max_rating(@game.game_type)
      %br
      Total:
      = "#{pl.all_games_count(@game.game_type)} (#{pl.won_games_count(@game.game_type)} W/ #{pl.lost_games_count(@game.game_type)} L)"
%h2
  Game Description:
%div{:class=>'border'}
%h4
  %ul
    %li
      Game type:
      = @game.game_type.camelize
    %li
      Waiting for:
      = @game.available_sits
      players
    %li
      Game rating:
      = "#{@game.rating} points"
      %ul
        %li
          Min:
          = "#{@game.min_rating} points"
        %li
          Max:
          = "#{@game.max_rating} points"
    %li
      Time per move:
      = "#{@game.time_per_move} minutes"

%div{:class=>'actions'}
  = link_to t(:join), domino_game_path(@game.id), :method => :put, :class => 'btn btn-large btn-success' unless @game.players.include? current_user