%div{:class=>"modal hide fade", :id=>'newGame', :tabindex=>"-1", :role=>"dialog", 'aria-hidden'=>"true"}
  = render 'new_game_modal'

%div{:class=>"modal hide fade", :id=>'listGames', :tabindex=>"-1", :role=>"dialog", 'aria-hidden'=>"true"}
  = render 'list_of_games_modal'

%div{:class=>"modal hide fade", :id=>'findGame', :tabindex=>"-1", :role=>"dialog", 'aria-hidden'=>"true"}
  = render 'find_game_modal'

= javascript_include_tag 'games_pagination'

%div{:class=>'games'}
  %h1{:class=>'edit-user'}
    Games
  %p
    = image_tag 'domino_game.jpg'
  %p
    = link_to t(:new_game), '#newGame', :class => 'btn btn-large btn-success', 'data-toggle'=>"modal"
    = link_to t(:list_of_games), '#listGames', :class => 'btn btn-large btn-success', 'data-toggle'=>"modal"
    = link_to t(:find_game), '#findGame', :class => 'btn btn-large btn-success', 'data-toggle'=>"modal"



  %div{:class=>"tabbable"}
    %ul{:class=>"nav nav-tabs"}
      %li{:class=>"active"}
        = link_to 'Friends', "#friends", 'data-toggle'=>"tab"
      %li
        = link_to 'Current Games', "#current_games", 'data-toggle'=>"tab"
      %li
        = link_to 'Finished Games', "#finished_games", 'data-toggle'=>"tab"

    %div{:class=>"tab-content"}
      %div{:class=>"tab-pane active", :id=>"friends"}
        = render 'domino/users/friends'

      %div{:class=>"tab-pane", :id=>"current_games"}
        = render 'current_games'
      %div{:class=>"tab-pane", :id=>"finished_games"}
        = render 'finished_games'