= javascript_include_tag 'domino/market'

= content_tag :div, :id => 'game_online', 'data-game_id' => @game_db.id do

  - if @game.available?
    = render :partial => 'game_description'
  - elsif @domino_game
    = render :partial => 'domino/games/online/market'

    = render :partial => 'domino/games/online/battle-field'
    = render :partial => 'domino/games/online/rotation_box'

    - @domino_game.players.each do |player|
      %div{:id => "player-#{player.position}"}
        - if player.position%2 != 0
          = render(:partial => 'domino/games/online/h_player_bones', :locals => {:player => player})
        -else
          = render(:partial => 'domino/games/online/v_player_bones', :locals => {:player => player})
