- if @game.available?
  = render :partial => 'game_description'
-elsif @domino_game
  = render :partial => 'domino/games/online/market'
  = render :partial => 'domino/games/online/rotation_box'

  = render :partial => 'domino/games/online/battle-field'

  - @domino_game.players.each_with_index do |player, i|
    = content_tag :div, render(:partial => 'domino/games/online/player_bones', :locals => {:player => player}), :class => player.player_id == current_user.id ? "my-position" : "player-#{i}"