%div{:class=>'pagination'}
  = will_paginate @my_current_games, :container => false

%p
  %table{:class=>"table table-striped"}
    %caption
      %h5{:class=>'pull-left'}
        = t('games.current_games')
    %thead
      %tr
        %th
          id
        %th
          = t('games.type')
        %th
          = t('games.time_per_move')
        %th
          = t('games.status')
    %tbody
      - @my_current_games.each do |game|
        %tr
          %td
            = game.id
          %td
            = game.game_type
          %td
            = game.time_per_move
          %td
            = game.status
          %td.view
            = button_to t('games.view'), dd_game_path(game.id), method: :get

%div.pagination
  = will_paginate @my_current_games, :container => false
