%div{:class=>'framed grey'}
  %h4
    %div{:class=>'left'}
      = t('global.goat_domino')
    %div{:class=>'right'}
      = current_user.g_rating
  %br
  %br
  = render :partial => 'domino/users/list', :locals => {:type => :goat}
%div{:class=>'framed grey'}
  %h4
    %div{:class=>'left'}
      = t('global.spider_domino')
    %div{:class=>'right'}
      = current_user.s_rating
  %br
  %br
  = render :partial => 'domino/users/list', :locals => {:type => :spider}