= javascript_include_tag 'games_pagination'

%div.left-menu
  %div.players-description
    %h5
      = link_to @user.full_name, domino_user_path(@user.id)
    %p
      = avatar_tag(@user)
    %h5
      = t('users.show.goat_rating')
      = @user.g_rating
      %br
      = t('users.show.spider_rating')
      = @user.s_rating
      %br
      = t('users.show.goat_total')
      = "#{@user.all_games_count(:goat)} (#{@user.won_games_count(:goat)} W/ #{@user.lost_games_count(:goat)} L)"
      %br
      = t('users.show.spider_total')
      = "#{@user.all_games_count(:spider)} (#{@user.won_games_count(:spider)} W/ #{@user.lost_games_count(:spider)} L)"
  = render :partial => 'domino/friendships/friends'

%div.middle-menu
  %div{:class=>'player-info', :id => 'current_games'}
    = render :partial => 'domino/games/current_games'




