%div{:id=>'chat', :class=>'messages'}
  = render :partial => 'messages'

%div.welcome
  = form_for @message,  :remote => true, :url => {:action => :create} do |f|
    = f.text_area :message, :size => '30x2', :class => 'message-input', :id => 'input'
    = f.hidden_field :author_id, :value => @user.id
    = f.submit t('global.send'), :class => 'btn btn-success btn-large'
