%div#sidebar
  %sidebar
    %div{:class=>"frame grey"}
      %h3{:class=>'head'}
        = t('advertise.not_member')
      %h5
        = t('advertise.free')
      %ul
        %li{:class=>'h6'}
          = t('advertise.play_with_friends')
        %li{:class=>'h6'}
          = t('advertise.meet_world')
        %li{:class=>'h6'}
          = t('advertise.train')
      %p
        = link_to t('advertise.join_now'), "#myModal", :class => "btn btn-large btn-block btn-primary disabled", 'data-toggle'=>"modal"