%div{:class => "navbar navbar-inverse"}
  %div{:class => "navbar-inner"}
    = link_to t(:domino), '#', :class => "brand"
    %ul{:class=>"nav"}
      %li
        = link_to t(:new_game), '#'
      %li
        = link_to t(:tournament), '#'
      %li
        = link_to t(:dashboard), '#'
      %li
        = link_to t(:chat), '#'


