%div.dashboard_post
  %div.dsh_author
    = avatar_tag p.author, true
  %div.news-author-name
    = link_to p.author.full_name, dd_user_path(p.author.id)
  %div.dsh_header
    = p.header
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
    = link_to '×', dd_dashboard_path(p.id), method: :delete, class: 'delete-post', confirm: 'Do you really want to remove this post?'
  %div.dsh_content
    = p.content
  %div.dsh_time
    = time_ago_in_words(p.created_at) + " #{t('global.ago')}"
    (
    = pluralize p.comments.size, t('global.comment')
    )
  %div{class: 'dsh_likes pull-right'}
    = link_to  like_post_dd_dashboard_index_path(p.id), remote: true do
      %i.icon-thumbs-up
    = link_to dislike_post_dd_dashboard_index_path(p.id), remote: true do
      %i.icon-thumbs-down
    %div{id: "likes-#{p.id}", class: p.likes_class}
      = p.likes
  %div{id: "flash-like-error-#{p.id}", class: 'flash-like-error pull-right'}
  %div{id: "popover-#{p.id}"}
  %div.big-separator
  - comms = p.comments.size > 3 ? p.comments.last(3) : p.comments
  = link_to t('show_more'), show_more_dd_dashboard_index_path(p.id), remote: true, :class => "btn btn-large btn-block btn-primary disabled" if comms.size < p.comments.size
  %div{id: "news-comments-#{p.id}", class: 'news-comments'}
    = render partial: 'dd/dashboard/news/comments', locals: {post: p, comms: comms} if p