.activity
  .body
    .mega-icon{style: "background-image: url(#{image_path "icons/#{a.key}.svg"})"}
    = time_ago_in_words(a.created_at) + " #{t('global.ago')}"
    .title
      .avatar
        - if a.owner
          = avatar_tag a.owner, true
        - else
          = image_tag 'avatars/no_avatar.jpg', width: "70", height: "70"
      - if a.owner
        = link_to a.owner.full_name, domino_user_path(a.owner.id)
      - else
        Someone
    .details
      = yield


