%html
  %head
    %title
      Domino
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %br
    %div{:class=>"container-fluid"}
      %div{:class=>"row-fluid"}
        %div{:class=>"span7"}
          = render :template => 'navigation/header'
          = render :partial => 'navigation/flash', :locals => {:flash => flash}
          = yield

        %div{:class=>"span3 pull-right"}
          = render :partial => 'navigation/sidebar' if current_user
  = render :template => 'navigation/footer'