%html
  %head
    %title
      Domino
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'http://localhost:9292/faye.js'
    = javascript_include_tag 'rails.validations'
    = csrf_meta_tags

  %body
    %div{:class=>"container-fluid"}
      %div{:class=>'row-fluid page'}
        %div.main-container
          = render :template => 'navigation/header'
          = render :partial => 'navigation/flash', :locals => {:flash => flash}
          = yield

        %div.right-container
          = current_user ? render(:partial => 'navigation/sidebar') : render(:partial => 'navigation/advertise')
      %div{:class => 'footer'}
        = render :template => 'navigation/footer'

