%html
  %head
    %title
      Dynamic Games
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'http://localhost:9292/faye.js'
    = javascript_include_tag 'rails.validations'
    = csrf_meta_tags

  %body
    %div.container-fluid
      %div.homepage
        = render :template => 'navigation/header'
        = render :partial => 'navigation/flash', :locals => {flash: flash}
        - clazz = logged_in? ? 'main-container' : 'full main-container'
        %div{class: clazz}

          = yield

        - if current_user && !current_user.guest?
          %div.right-container
            = render('navigation/sidebar')
      - if logged_in?
        %div.bottom-container
          = yield :bottom_c

      %div.footer
        %div.container
          = render :template => 'navigation/footer'

